.card {
    /* margin-top: 77px; */
    /* margin-bottom: 250px; */
    /* MÅ FIKSE DETTE I SASS */
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.nav-link {
    color: var(--primary-colour);
}

.nav-link:hover {
    color: #495057;
}