* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: radial-gradient(circle at center, white, #e5e5e5);
  margin: 0;
}

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: white;
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 500;
  color: #767676;
  padding: 0.5em;
}

footer a {
  color: #767676;
}

footer a:hover {
  color: var(--primary-colour);
}

footer i {
  color: #767676;
}

.wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.container,
.container-fluid {
  max-width: 90%;
  margin: 0 auto;
}

.container-flex,
nav .container,
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
