.contact-form {
  background-color: #efefef;
  padding: 4rem;
  border-radius: 3px;
  -webkit-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.1);
  color: #707070;
}

.contact-title {
  padding-top: 2rem;
}

.btn-primary {
  background-color: $secondary-color;
  width: 100%;
  padding: 0.5em;
  font-size: 22px;
  font-weight: 500px;
  color: white;
  border: 0;
}

.form-check-input {
  background-color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color;
  transition: 0.5s;
}

.list-group-item {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  margin-left: 67px;
}

.fas {
  margin-right: 20px;
  color: $secondary-color;
}

@media (max-width: 1000px) {
  .contact-form {
    padding: 0;
    margin-bottom: 240px;
  }
}
