// FONTS
$heading-font: "Playfair Display", serif;
$paragraph-font: "Lato", sans-serif;

// COLORS
$primary-color: #e92569;
$secondary-color: #767676;

// BACKGROUND
$body-background: radial-gradient(circle at center, #fff, #e5e5e5);
$nav-background: #efefef;
$footer-background: #fff;
